/*-- scss:defaults --*/
$primary:  #06436ef2 !default;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*-- scss:rules --*/
.navbar-brand {
    @media(max-width: 390px) {
        font-size: small;
    }

    @media(max-width: 515px) {
        font-size: smaller;
    }
}

#quarto-header {
    border-bottom: 1px solid #dee2e6;
}

.input-group-text {
    background-color: #ffff;
}

.quarto-title-banner {
    background-color: #ffff;
    padding-bottom: 0;
}

.quarto-title .description {
    margin-top: 0.5rem !important;
}

#quarto-margin-sidebar .category {
    font-size: $font-size-base * 0.85;
    color: rgba(55, 54, 54, 0.825);
}
#TOC li {
    font-size: $font-size-base * 0.8;
    font-weight: 400;
}

.page-layout-article main.content > p:first-of-type  {
    font-weight: bold;
}

#quarto-content main.content section.level2 {
    margin-top: 2rem;
}

.navbar-title, .nav-item .menu-text, .dropdown-item {
    font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue';
    font-weight: lighter;
}

.navbar .dropdown-item .dropdown-text {
    font-weight: normal;
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
}

.aa-DetachedCancelButton {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

img {
    box-shadow: 2px 2px 5px #aaa;
}

div.quarto-post .thumbnail img {
    object-fit: contain;
}

.pdb-web-app {
    width: 100%;
    height: 100%;

    iframe {
        padding-top: $navbar-brand-height * 2;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height:100%;
    }
}

.callout.callout-style-default>div.callout-header, .callout.callout-style-default .callout-body {
    font-size: smaller;
}

.callout-caption-container.flex-fill {
    font-weight: 400;
    font-size: smaller;
}

.callout-note.callout {
    .callout-caption-container, .callout-body-container.callout-body {
        font-weight: 400;
        font-size: smaller;
    }
}

.callout.callout-style-simple:not(.no-icon) div.callout-icon-container {
    padding-top: 0;
}

.card {
    border-radius: 0;
  }

.card-body a.btn.stretched-link {
    font-size: small;
}

.card-body h3 {
    margin-top: 0; // default is 1.5rem
}

.tools-used {
    padding: 0.5rem 0.5rem;

    button
    {
        margin: 0.2rem;
        padding: .15rem .25rem;
    }
}

img.profile-pic {
    clip-path: circle(50% at 50% 50%);
}